@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");



.hireBtn svg {
    animation: stroke 5s infinite alternate;
    stroke-width: 1;
    stroke: #365FA0;

}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 204, 0);
        stroke: #fff;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 1;
    }

    70% {
        fill: rgba(72, 138, 204, 0);
        stroke: #fff;
    }

    80% {
        fill: rgba(72, 138, 204, 0);
        stroke: #fff;
        stroke-width: 3;
    }

    100% {
        fill: rgba(72, 138, 204, 1);
        stroke: #fff;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}